<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn.shopify.com/s/files/1/1594/0295/products/IMG_0236_grande.JPG?v=1495416122" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <div class='clearfix'>
          <p class="price pull-left">$12</p>
          <p><a href="#" class="btn btn-primary pull-right" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn.shopify.com/s/files/1/1594/0295/products/IMG_0232_grande.JPG?v=1495414271" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <div class='clearfix'>
          <p class="price pull-left">$12</p>
          <p><a href="#" class="btn btn-primary pull-right" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
